.newsLetter{
    margin-top: 4rem;
    font-family: sans-serif;
    margin-top: 4rem;
  font-family: sans-serif;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 20px; /* Distance from the top when stuck */
  z-index: 1000; /* Ensures it's on top of other elements */
}
.h2{
    margin-top: 4rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #555;
    padding-left: 4rem;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: #fff;         
    padding: 2.4rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 240px;                 
    margin-top: 3rem;                 
    font-family: sans-serif;
    
}
input{
    padding: 16px;
    background-color: aliceblue;
    border: none;
    font-size: 1.3rem;
    color: #555;
   margin-bottom: 1rem;
}