.wrapper{
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
nav{
padding:3rem 0rem;
display:flex;
margin-left: 8rem;
font-size: 1.3rem;
justify-content:flex-start;
align-items: center;
margin-bottom: 3rem;

}
