#root{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
}

.input{
  width: 200px;
  padding: 10px;
  font-size: 1.4rem;
  color: #555;
  border-radius: .7rem;

}
form{
  display:  flex;
  gap: 10px;
}

form button{
  color: white;
  background-color: teal;
  padding: 10px 15px;
  font-size: 1.4rem;
  border-radius: 10px;
}

.todoList{
       display: flex;
}
.todoList li{
  background-color: beige;
  padding: 10px;
  font-size: 1.2rem;
  list-style: none;
  min-width: 350px;
  
}

.del_btn{
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
}